src/main/java/com/dorayakisupplier/wsdl/DorayakiRequest/DorayakiRequestServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dorayaki.com/api/DorayakiRequestService"
             targetNamespace="http://www.dorayaki.com/api/DorayakiRequestService">

    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.dorayaki.com/ws/DorayakiRequestService"
                        schemaLocation="DorayakiRequestService.xsd" />
        </xsd:schema>
    </types>

    <message name="addDorayakiRequest">
        <part name="params" element="tns:dorayakiType" />
    </message>
    <message name="addDorayakiResponse">
        <part name="params" element="tns:statusCode" />
    </message>
    <message name="dorayakiFault">
        <part name="params" element="tns:dorayakiFault" />
    </message>
    <message name="getDorayakisRequest">
        <part name="params" element="tns:dorayakiID" />
    </message>
    <message name="getDorayakisResponse">
        <part name="params" element="tns:dorayakiTypes" />
    </message>
    <message name="getDorayakiRequest">
        <part name="params" element="tns:dorayakiID" />
    </message>
    <message name="getDorayakiResponse">
        <part name="params" element="tns:dorayakiType" />
    </message>
    <message name="deleteDorayakiRequest">
        <part name="params" element="tns:deleteID" />
    </message>
    <message name="deleteDorayakiResponse">
        <part name="params" element="tns:deleteStatusCode" />
    </message>
    <message name="updateDorayakiRequest">
        <part name="params" element="tns:updateDorayakiType" />
    </message>
    <message name="updateDorayakiResponse">
        <part name="params" element="tns:updateStatusCode" />
    </message>

    <portType name="DorayakiServicePortType">
        <operation name="addDorayaki">
            <input message="tns:addDorayakiRequest" />
            <output message="tns:addDorayakiResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="deleteDorayaki">
            <input message="tns:deleteDorayakiRequest" />
            <output message="tns:deleteDorayakiResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="updateDorayaki">
            <input message="tns:updateDorayakiRequest" />
            <output message="tns:updateDorayakiResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="getDorayakis">
            <input message="tns:getDorayakisRequest" />
            <output message="tns:getDorayakisResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="getDorayakiById">
            <input message="tns:getDorayakiRequest" />
            <output message="tns:getDorayakiResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
    </portType>

</definitions>