src/main/java/com/dorayakisupplier/wsdl/DorayakiRequest/DorayakiRequestServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dorayaki.com/api/DorayakiService"
             targetNamespace="http://www.dorayaki.com/api/DorayakiService">

    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.dorayaki.com/api/DorayakiService"
                        schemaLocation="DorayakiRequestService.xsd" />
        </xsd:schema>
    </types>

    <message name="dorayakiFault">
        <part name="params" element="tns:dorayakiFault" />
    </message>
    <message name="getDorayakisRequest">
        <part name="params" element="tns:dorayakiID" />
    </message>
    <message name="getDorayakisResponse">
        <part name="params" element="tns:dorayakiTypes" />
    </message>
    <message name="getRecipesRequest">
        <part name="params" element="tns:recipeID" />
    </message>
    <message name="getRecipesResponse">
        <part name="params" element="tns:recipeTypes" />
    </message>
    <message name="updateDorayakiRequest">
        <part name="params" element="tns:updateDorayakiType" />
    </message>
    <message name="updateDorayakiResponse">
        <part name="params" element="tns:updateStatusCode" />
    </message>

    <portType name="DorayakiServicePortType">
        <operation name="updateDorayaki">
            <input message="tns:updateDorayakiRequest" />
            <output message="tns:updateDorayakiResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="getDorayakiRequests">
            <input message="tns:getDorayakisRequest" />
            <output message="tns:getDorayakisResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
        <operation name="getDorayakiRecipes">
            <input message="tns:getRecipesRequest" />
            <output message="tns:getRecipesResponse" />
            <fault name="fault" message="tns:dorayakiFault" />
        </operation>
    </portType>

</definitions>