src/main/java/com/dorayakisupplier/wsdl/DorayakiRequest/DorayakiRequestService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.wstutorial.com/ws/TutorialService"
            elementFormDefault="qualified" targetNamespace="http://www.wstutorial.com/ws/TutorialService">
    <xsd:complexType name="statusCode">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TutorialType">
        <xsd:all>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="author" type="xsd:string" />
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="TutorialTypes">
        <xsd:sequence>
            <xsd:element type="tns:TutorialType" minOccurs="0" maxOccurs="unbounded" name="tutorials" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="idAsLong">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="tutorialType" type="tns:TutorialType" />
    <xsd:element name="tutorialTypes" type="tns:TutorialTypes" />
    <xsd:element name="tutorialFault" type="xsd:string" />
    <xsd:element name="tutorialID" type="tns:idAsLong" />
    <xsd:element name="tutID" type="tns:idAsLong" />
    <xsd:element name="statusCode" type="tns:statusCode" />
    <xsd:element name="deleteID" type="tns:idAsLong" />
    <xsd:element name="deleteStatusCode" type="tns:statusCode" />
    <xsd:element name="updateTutorialType" type="tns:TutorialType" />
    <xsd:element name="updateStatusCode" type="tns:statusCode" />
</xsd:schema>